@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #ffffff;
  --background: #1A1935;
  --background-end: #05177D;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ffffff;
    --background: #05177D;
    --background-end: #05177D;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
